/* @import-normalize; */

body {
  background-color: black;
  font-family: var(--font-dm-sans);
}

.main-container {
  max-width: 80vw;
  max-height: 100vh;
  margin-left: 320px;
  margin-right: 56px;
}